<section id="LebowskiNicoGallery">
  <h2>gallery</h2>
  <h3>la nostra galleria fotografica</h3>
      <div id="galleryCarousel" class="carousel slide">
      <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowski_band.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class="item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski & nico live'/>
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2010 - lebowski & nico live @ SOMS</h4>
                            </div>
            </div>
            <div class="item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_1.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski & nico'/>
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico - backstage Propaganda</h4>
                            </div>
            </div>
            <div class="item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowski_band_2.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski & nico'/>
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2008 - lebowski - backstage The best love songs of the love for the songs and the best</h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_3.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_4.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_5.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_6.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_7.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_8.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            <div class=" item">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowskienico_band_9.jpg' %}
                <img src="{{ asset_url }}" alt='lebowski live' />
            {% endimage %}
            <div class="carousel-caption">
                              <h4>2012 - lebowski & nico live @ Mamamia </h4>
                            </div>
            </div>
            
          </div>
      <a class="carousel-control left" href="#galleryCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#galleryCarousel" data-slide="next">&rsaquo;</a>
      </div>
</section>
